{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
{% if category %}
    {{category.description|truncatewords:155}}
{% else %}
    Welcome to Flipcart Store where you can buys differents items..........
{% endif %}
{% endblock %}

{% block title %}
    {% if category %}
        {{category.name}}---Flipcart
    {% else %}
        See Our new collection -Flipcart Shop
    {% endif %}
{% endblock %}

{% block content %}
<div class="container">
{% if category %}
    <div>
        <div>
            <center>
                <p class="my-title my_link"><a href="{% url 'FlipcartApp:allProdCat' %}"><b>Our Product Collection</b></a></p>
            </center>
        </div>
    </div>
{% endif %}
    <div>
        {% if category %}
        <center>
            <img src="{{category.image.url}}" alt="{{category.name}}" width="1000" height="500">
        </center>
    </div>
    <br>
    <div>
        <h1>{{category.name}}</h1>
        <p>{{category.description}}</p>
    </div>
        {% else %}
    <div>
        <center>
            <img src="{% static 'image/banner.jpg' %}" alt="banner_image" height="350" width="1200">
        </center>
    </div>
    <br>
    <div>
        <center>
        <h1  class="my-title">Our Products</h1>
        </center>
    </div>
    <div class="my-text">
        <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget euismod ligula, non pellentesque metus.
            Maecenas blandit, risus a efficitur posuere, est ipsum congue ante, in sollicitudin tellus eros vel diam.
            Cras in tincidunt diam, id consectetur nibh. Aenean malesuada egestas eros id volutpat. Nullam sit amet ultrices arcu.
            Maecenas tortor enim, semper at feugiat et, consectetur in ipsum. Ut volutpat, tellus in egestas vehicula,
            magna dolor laoreet leo, vel suscipit est justo ac lectus. Vestibulum maximus condimentum est vitae sodales.
            Aliquam accumsan aliquet tellus, ac condimentum nulla ultricies non. Ut convallis varius viverra.
        </p>
    </div>
        {% endif %}
    <div class="container">
        <div class="row max-auto">
            {% for product in products.object_list %}
            <div class="my_bottom_margin col-9 col-md-4 col-lg-4">
                <div class="card text-center style=width:15px;" style="min-width:15rem;">
                    <a href="{{product.get_url}}"><img src="{{product.image.url}}" alt="{{product.name}}" width="320" height="350"></a>

                <div class="card_body text-center" style="min-width:15rem;">
                    <h4 class="my-title">{{product.name}}</h4>
                    <p>$ {{product.price}}</p>
                </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if products.paginator.num_pages > 1 %}
        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
                <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}